extends ../layouts/layout
block content
  .title.mg-top__90
      p CLARIS ADD FOOD
  div(class = "add_content")
    if locals.errorMessage
        .alert.alert-danger(style="color:red;")= errorMessage

    form(action="/foods" method="POST" enctype="multipart/form-data")
        .form-row
          .form-group
            label(for="foodId" ) Food ID
            input(class="form-control" placeholder="Food ID", type="text" name="foodCode" value= food.foodCode )
        .form-row
          .form-group
            label(for="foodname" ) Food Name
            input(class="form-control" placeholder="Food Name", type="text" name="title" value= food.title )

        .form-row
          .form-group
            label(for="price" ) Price
            input(class="form-control" placeholder="Food Price",type="number" name="price" min="1" value = food.price )

        .form-row
          .form-group
              label(for="description") Description
              textarea( class="form-control" name="description" rows="3", food.description )

        .form-row
          .form-group
              label(for="coverImg") Upload Image
              input( type="file" name="ImageUrl" class="form-control p-0 h-30" required)

        .btn
          button.btn-reset RESET
             a(href='/foods') 
          button(type="submit" class="btn-add" style="margin-left: 15px") ADD