extends layouts/layout
block content
   .intro.mg-top__90
      .video_intro
         video.intro_claris(src='https://res.cloudinary.com/dzgdczkjk/video/upload/v1668885325/ClarisResources/Intro/Intro_Claris_d8kaiq.mp4' controls='' poster='https://res.cloudinary.com/dzgdczkjk/image/upload/v1668884984/ClarisResources/Intro/poster_aygirw.jpg')