doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Claris Place
  link(rel='stylesheet' href='/stylesheets/style.css')
  link(rel='stylesheet' href='https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css')
.background-client
  .slider
    .logo_slider
      p + 7 ( 2 1 2 ) 6 5 4 -3 3 -3 5
      .nav_slider
        ul
          li
            a(href='#about') ABOUT US
          li
            a(href='#hall') HALL
          li
            a(href='/userbookings/userbooking') BOOKING
          li
            a(href='/login')
              i.las.la-user-shield
      img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1668884985/ClarisResources/Logo/LogoClaris_zneksr.png' alt='')
    figure
      .slide
        img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1670764008/ClarisResources/five_oguleq.jpg')
      .slide
        img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1670764001/ClarisResources/one_i2dpie.jpg')
      .slide
        img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1670764002/ClarisResources/two_mqdqla.jpg')
      .slide
        img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1670764003/ClarisResources/three_j4vbod.jpg')
      .slide
        img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1670764001/ClarisResources/four_un2cc1.jpg')
  #hall.container-food
    p O U R
    span F O O D
  .container
    .luxury
      img.imglux(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1671035169/ClarisResources/WesternCuisine_up0bkt.png' alt='')
      .middle_lux
        a(href='/foods_user/food_list_user')
          i.las.la-search-plus
    .beach
      img.imgbeach(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1671035158/ClarisResources/AsianCuisine_sxadde.png' alt='')
      .middle_beach
        a(href='/foods_user/food_list_user')
          i.las.la-search-plus
    .introduce_hall
      p
        | Is cuisine undecided your problem?  Let Claris bring you to the world of high-quality foods. We are proud to affirm that Claris has the highest certificate for food quality, and 3-star Michelin is what we are looking forward to. With a variety of food from Western to Asian Cuisine, from appetizer to the main course and dessert, we are ready to serve the best taste to your gustation. Just explore and pick what you like, we will surely bring you to the deepest impression.
  #hall.container-hall
    p O U R
    span H A L L
  .container
    .introduce_hall
      p
        | It is true to say that any bride wants to have a wedding hall like in Korean movies. Don't be shy, just tell us your wedding hall ideas, and we will turn them into a wedding in dreams. Thanks to the European architectural design of the building, Claris looks like a pure queen wearing an ivory white dress. The inside and outside of the restaurant are spacious and airy, creating favorable conditions for the bride and groom in welcoming guests and arranging comfortable seating for beloved guests.
    .luxury
      img.imglux(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1670764000/ClarisResources/LuxPalaceee_h2jfb4.png' alt='')
      .middle_lux
        a(href='/hall_user/hall_list_user')
          i.las.la-search-plus
    .beach
      img.imgbeach(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1670764000/ClarisResources/BeachPalace_phdt6r.png' alt='')
      .middle_beach
        a(href='/hall_user/hall_list_user')
          i.las.la-search-plus
  // Footer
  footer
    .footer-wrapper
      .footer-content
        .footer-content__logo
          a.logo-footer(href='index.html')
            img.logo-footer_img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1668884985/ClarisResources/Logo/Logo_Footer_x1sxep.png' alt='')
        .footer-content__teams
          .teams_top
            span 3
            p.team_q P
            p.team_s s
          .teams_bottom
            p by 3Ps Developer Team
        .contact
          p.contact_top C O N T A C T
          p.contact_bottom +7 (212) 654-33-35
          p.contact_bottom 4 Phan Boi Chau Street, Distric 1, Ho Chi Minh City
          p.contact_bottom @Claris 2022. All Rights Reserved
