footer
  .footer-wrapper
    .footer-content
      .footer-content__logo
        a.logo-footer(href='index.html')
          img.logo-footer_img(src='https://res.cloudinary.com/dzgdczkjk/image/upload/v1668884038/Logo_Footer_uoklmb.png' alt='')
      .footer-content__teams
        .teams_top
          span 3
          p.team_q P
          p.team_s s
        .teams_bottom
          p by 3Ps Developer Team
      .contact
        p.contact_top C O N T A C T
        p.contact_bottom +7 (212) 654-33-35
        p.contact_bottom 4 Phan Boi Chau Street, Distric 1, Ho Chi Minh City
        p.contact_bottom @Claris 2022. All Rights Reserved
