doctype html
head
    title Claris Palace
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel="stylesheet", href='https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css')

body 
    .container-detail-user.mg-top__90
    a(href='/foods_user/food_list_user' class='back_detail' ) To choose other dishes, please click here
    .detail
        .detail_img_user
          a(href="")
            img(src = food.ImageUrl, class="img-item")
        .detail_information
          p.name_detail Food Name:
          p.name_information=food.title     
          br         
          p.name_detail Description&nbsp;: 
          p.name_information=food.description 
          br
          p.name_detail Price&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;:
          p.name_information=food.price 